<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Global test">
   <test name="Amazon Search" parallel="methods" thread-count="1">
    <classes>
    	<class name="tests.TrainingTestCases"></class>
    </classes>
  </test>
  
  <!-- <test name="Amazon Search">
  	<parameter name="title" value="Amazon"></parameter>
  	<groups>
  		<run>
  			<include name="smoke"></include>
  		</run>
  	</groups>
    <classes>
    	<class name="tests.SampleTestCases"></class>
    </classes>
  </test> -->
  
</suite>
